body, html{
  height:100%;
}
body{
  margin: 0px;
  /* background-color:#444; */
  background-image: url("src/backgroundImg.webp");
  font-size: 18px;

}
body, a:link, a:visited, a:active{
  color: darkblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}

.topbar{
  height:32px;
  background-color: yellow;
}
.title{
  background-color: yellow;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.dancer.bouncyBlinkyDancer{
  border:10px solid green;

}

.dancer.squareDancer{
  border: solid 21px #f0f;
  width: 5px;
  height: 5px;
}
